<div class="content">
  <h1>write your post here</h1>

  <input #newNotes id="heyy">
  <div class="addbutton">
    <button class="button1" (click)="addNotes(newNotes.value)">add post</button>
  </div>
  <div class="card1">
    <div *ngFor="let note of notes" class="card" style="width: 18rem;">
      <div class="card-body body">
        <p class="card-text">->{{note['describtion']}}</p>
        <div class="deletbutton">
          <button class="button2" (click)="deleteNotes(note.id)">delete notes</button>
        </div>
      </div>
    </div>
  </div>
</div>